<a href="https://colab.research.google.com/github/kishan75/All-In-One/blob/main/pythonAssignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **Print the numbers using while loop between range m and n provided by the user in python.**

In [6]:
m = int(input("enter the value of m : "))
n = int(input("\n enter the value of n \n"))

if m != min(m,n):
  c = m
  m = n
  n = c

m+=1

while m<n:
  print(m)
  m+=1

enter the value of m : 7

 enter the value of n
2
3
4
5
6

2. **Print the following pattern in python**

12345 54321

1234 4321

123 321

12 21

1 1

3. **Find the sum of the series 5+55+555+……+nth term, n is the input given by the user.**

1. **Write a program in python to read the three file N1, N2, N3. Each of the files contains list of names. Following operations must be performed by the program:**

a.   The program should display the contents of each file

In [ ]:
with open('N1.txt','r') as file_N1:
  read_data = file_N1.read()
  print(read_data)
  global file_1_data
  file_1_data = read_data.splitlines()

with open('N2.txt','r') as file_N2:
  read_data = file_N2.read()
  print(read_data)
  global file_2_data
  file_2_data = read_data.splitlines()

with open('N3.txt','r') as file_N3:
  read_data = file_N3.read()
  print(read_data)
  global file_3_data
  file_3_data = read_data.splitlines()

Rajinkant
Will Smith
Akshay
Emraan
Aamir
Katrina
Ajay
Leonardo DiCaprio
Sanjay
Lindsay Lohan
Hrithik
Tiger
Deepika
Alia
Shahrukh
Om Puri
Kiara
Ranbeer
Ranveer
Nana Patekar
Manoj Tiwari
Jackie Shroff
Emma Watson


Will Smith
Robert
Shashank
Lauren
Emraan
William
Tim
Scott
Sam
Leonardo DiCaprio
Rowling
Prateik Babbar
Lindsay Lohan
Deepika
Dharmendra
Om Puri
Dev Anand
Nana Patekar
Ali Fazal
Emma Watson

Neil Nitin Mukesh
Rahul Roy
Varun Dhawan
Vinay Pathak
Will Smith
Richa Chadda
Anushka Sharma
Vaani Kapoor
Emraan
Leonardo DiCaprio
Lindsay Lohan
Shraddha Kapoor
Deepika
Om Puri
Kangana Ranaut
Nana Patekar
Hansika Motwani
Vidya Balan
Emma Watson

b.   Display the names that are common in all three files in the order in which they appear in the file and store them in output file "output.txt".

In [ ]:
output_file_data = []

with open('output.txt','a') as file_output:
  for name in file_1_data:
    if name in file_2_data and name in file_3_data:
      file_output.write(name+'\n')
      output_file_data.append(name)

print(output_file_data)

with open('output.txt','r') as file_data:
  read_data = file_data.read()
  print(read_data)

['Will Smith', 'Emraan', 'Leonardo DiCaprio', 'Lindsay Lohan', 'Deepika', 'Om Puri', 'Nana Patekar', 'Emma Watson']
Will Smith
Emraan
Leonardo DiCaprio
Lindsay Lohan
Deepika
Om Puri
Nana Patekar
Emma Watson

c. Read all the names from output file "output.txt" and form word using first character of all the names.

In [ ]:
with open('output.txt','r') as file_data:
  read_data = file_data.read()
  print(''.join([word[0] for word in read_data.splitlines()]))

WELLDONE